@model ChartViewModel
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
        defer></script>
    <script src="~/windmill/js/charts.js" asp-append-version="true" defer></script>
}
<h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
    Charts
</h2>

<windmill-card>
    <windmill-chart id="pie" chart="@Model.Pie"></windmill-chart>
</windmill-card>
<windmill-chart id="line" chart="@Model.Line"></windmill-chart>
<windmill-chart id="bar" chart="@Model.Bar"></windmill-chart>
